body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  box-shadow: 0 0 10px rgb(192, 192, 192);
  margin: auto;
  padding: 30px;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

input {
  outline: none;
  height: 30px;
  border: 1px solid rgb(194, 194, 194);
  padding: 4px 10px;
  font-size: 14px;
}
input:focus {
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 0 5px rgb(238, 240, 139);
}

label{
font-size: 18px;
}

button {
  background-color: #336eec;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  color: aliceblue;
  text-transform: capitalize;
}
select{
  padding: 5px;
  font-size: 14px;
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  input {
    height: 40px;
  }

  button {
    padding: 15px 5px;
    font-size: 16px;
  }
}
